@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Sans+Bogle&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

body {
    background-color: 	white;
    font-family: Roboto, Helvetica, 'Times New Roman';
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header{
    background-color: #22577a;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    color: black;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    text-align: center;
}
.home-title {
    color: black;
    font-family: Rock Salt, BBH Sans Bogle, Anton;
    font-size: 1.5em;
    margin-top: 10px;
}
body {
    text-align: center;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;
}
.moveDown {
    margin-top: 3em;
}
form {
    display: inline-block;
    padding: 1em;
    border: 1px solid #cccccc;
    border-radius: 1em;
}
p + p {
    margin-top: 1em;
}
label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
}
input,
textarea {
    font:  1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999999
}
input:focus, 
textarea:focus {
    outline-style: solid;
    outline-color: black;
}
textarea {
    vertical-align: top;
    height: 5em;
}
.button {
    padding-left: 90px;
}
button {
    margin-left: 0.5em;
}
footer {
    background-color: #22577a;
    color: white;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: black;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}